/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #114283;
  --ifm-color-primary-dark: #0f3b76;
  --ifm-color-primary-darker: #0e386f;
  --ifm-color-primary-darkest: #0c2e5c;
  --ifm-color-primary-light: #134990;
  --ifm-color-primary-lighter: #144c97;
  --ifm-color-primary-lightest: #1656aa;
  --icon-invert: 0;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #25afc1;
  --ifm-color-primary-dark: #219eae;
  --ifm-color-primary-darker: #1f95a4;
  --ifm-color-primary-darkest: #1a7b87;
  --ifm-color-primary-light: #29c1d4;
  --ifm-color-primary-lighter: #31c4d8;
  --ifm-color-primary-lightest: #4ecddd;
  --icon-invert: 1;
}

/* Icons */
.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  background: url("../../static/img/github-icon.svg") no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  /* background-color: yellow; */
  color: white;
  filter: invert(var(--icon-invert));
}

.header-github-link::before[data-theme="dark"] {
  filter: invert(var(--icon-invert));
}


.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link::before {
  background: url("../../static/img/discord-icon.svg") no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  /* background-color: yellow; */
  color: white;
  filter: invert(var(--icon-invert));
  transform: translateY(2px);
}

.header-discord-link::before[data-theme="dark"] {
  filter: invert(var(--icon-invert));
}


.header-twitter-link:hover {
  opacity: 0.6;
}

.header-twitter-link::before {
  background: url("../../static/img/twitter-icon.svg") no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
  /* background-color: yellow; */
  color: white;
  filter: invert(var(--icon-invert));
}

.header-twitter-link::before[data-theme="dark"] {
  filter: invert(var(--icon-invert));
}
